.food-item {
    width: 100%;
    max-width: 100%;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;

}

.food-item-image {
    width: 100%;
    height: 200px;               /* Fixed height for consistent layout */
    object-fit: cover;           /* Prevents distortion, crops if needed */
    border-radius: 10px;
}

.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 600;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    color: #676767;
    font-size: 13px;
}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 5px 0px;
}
.food-item-img-container{
   position: relative;
}
.food-item-img-container .add{
    position: absolute;
    width: 35px;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 50px;
    background-color: #fff;
}
.food-item-counter img{
   width: 30px;
}